<a href="https://colab.research.google.com/github/ogut77/DataScience/blob/main/AutoGluon.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install autogluon.tabular

Collecting autogluon.tabular
  Downloading autogluon.tabular-1.0.0-py3-none-any.whl (306 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 306.0/306.0 kB 5.1 MB/s eta 0:00:00
Requirement already satisfied: numpy<1.29,>=1.21 in /usr/local/lib/python3.10/dist-packages (from autogluon.tabular) (1.25.2)
Requirement already satisfied: scipy<1.13,>=1.5.4 in /usr/local/lib/python3.10/dist-packages (from autogluon.tabular) (1.11.4)
Collecting pandas<2.2.0,>=2.0.0 (from autogluon.tabular)
  Downloading pandas-2.1.4-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (12.3 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 12.3/12.3 MB 17.9 MB/s eta 0:00:00
Collecting scikit-learn<1.5,>=1.3.0 (from autogluon.tabular)
  Downloading scikit_learn-1.4.1.post1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (12.1 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 12.1/12.1 MB 35.1 MB/s eta 0:00:00
Requirement already satisfied: networkx<4,>=3.0 in /usr/local/lib/python3.10/dist-packages (from autogluon.tabular) (3.2.1)
Collecting autogluon.core==1.0.0 (from autogluon.tabular)
  Downloading autogluon.core-1.0.0-py3-none-any.whl (229 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 229.1/229.1 kB 12.0 MB/s eta 0:00:00
Collecting autogluon.features==1.0.0 (from autogluon.tabular)
  Downloading autogluon.features-1.0.0-py3-none-any.whl (62 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 62.7/62.7 kB 241.8 kB/s eta 0:00:00
Requirement already satisfied: tqdm<5,>=4.38 in /usr/local/lib/python3.10/dist-packages (from autogluon.core==1.0.0->autogluon.tabular) (4.66.2)
Requirement already satisfied: requests in /usr/local/lib/python3.10/dist-packages (from autogluon.core==1.0.0->autogluon.tabular) (2.31.0)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.10/dist-packages (from autogluon.core==1.0.0->autogluon.tabular) (3.7.1)
Collecting boto3<2,>=1.10 (from autogluon.core==1.0.0->autogluon.tabular)
  Downloading boto3-1.34.62-py3-none-any.whl (139 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 139.3/139.3 kB 4.1 MB/s eta 0:00:00
Collecting autogluon.common==1.0.0 (from autogluon.core==1.0.0->autogluon.tabular)
  Downloading autogluon.common-1.0.0-py3-none-any.whl (64 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 64.4/64.4 kB 2.4 MB/s eta 0:00:00
Requirement already satisfied: psutil<6,>=5.7.3 in /usr/local/lib/python3.10/dist-packages (from autogluon.common==1.0.0->autogluon.core==1.0.0->autogluon.tabular) (5.9.5)
Requirement already satisfied: setuptools in /usr/local/lib/python3.10/dist-packages (from autogluon.common==1.0.0->autogluon.core==1.0.0->autogluon.tabular) (67.7.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas<2.2.0,>=2.0.0->autogluon.tabular) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas<2.2.0,>=2.0.0->autogluon.tabular) (2023.4)
Collecting tzdata>=2022.1 (from pandas<2.2.0,>=2.0.0->autogluon.tabular)
  Downloading tzdata-2024.1-py2.py3-none-any.whl (345 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 345.4/345.4 kB 27.6 MB/s eta 0:00:00
Requirement already satisfied: joblib>=1.2.0 in /usr/local/lib/python3.10/dist-packages (from scikit-learn<1.5,>=1.3.0->autogluon.tabular) (1.3.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from scikit-learn<1.5,>=1.3.0->autogluon.tabular) (3.3.0)
Collecting botocore<1.35.0,>=1.34.62 (from boto3<2,>=1.10->autogluon.core==1.0.0->autogluon.tabular)
  Downloading botocore-1.34.62-py3-none-any.whl (12.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 12.0/12.0 MB 42.5 MB/s eta 0:00:00
Collecting jmespath<2.0.0,>=0.7.1 (from boto3<2,>=1.10->autogluon.core==1.0.0->autogluon.tabular)
  Downloading jmespath-1.0.1-py3-none-any.whl (20 kB)
Collecting s3transfer<0.11.0,>=0.10.0 (from boto3<2,>=1.10->autogluon.core==1.0.0->autogluon.tabular)
  Downloading s3transfer-0.10.0-py3-none-any.whl (82 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 82.1/82.1 kB 6.7 MB/s eta 0:00:00
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas<2.2.0,>=2.0.0->autogluon.tabular) (1.16.0)
Requirement already satisfied: contourpy>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib->autogluon.core==1.0.0->autogluon.tabular) (1.2.0)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.10/dist-packages (from matplotlib->autogluon.core==1.0.0->autogluon.tabular) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib->autogluon.core==1.0.0->autogluon.tabular) (4.49.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib->autogluon.core==1.0.0->autogluon.tabular) (1.4.5)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib->autogluon.core==1.0.0->autogluon.tabular) (24.0)
Requirement already satisfied: pillow>=6.2.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib->autogluon.core==1.0.0->autogluon.tabular) (9.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib->autogluon.core==1.0.0->autogluon.tabular) (3.1.2)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests->autogluon.core==1.0.0->autogluon.tabular) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests->autogluon.core==1.0.0->autogluon.tabular) (3.6)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests->autogluon.core==1.0.0->autogluon.tabular) (2.0.7)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests->autogluon.core==1.0.0->autogluon.tabular) (2024.2.2)
Installing collected packages: tzdata, jmespath, scikit-learn, pandas, botocore, s3transfer, boto3, autogluon.common, autogluon.features, autogluon.core, autogluon.tabular
  Attempting uninstall: scikit-learn
    Found existing installation: scikit-learn 1.2.2
    Uninstalling scikit-learn-1.2.2:
      Successfully uninstalled scikit-learn-1.2.2
  Attempting uninstall: pandas
    Found existing installation: pandas 1.5.3
    Uninstalling pandas-1.5.3:
      Successfully uninstalled pandas-1.5.3
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
bigframes 0.23.0 requires pandas<2.1.4,>=1.5.0, but you have pandas 2.1.4 which is incompatible.
google-colab 1.0.0 requires pandas==1.5.3, but you have pandas 2.1.4 which is incompatible.
Successfully installed autogluon.common-1.0.0 autogluon.core-1.0.0 autogluon.features-1.0.0 autogluon.tabular-1.0.0 boto3-1.34.62 botocore-1.34.62 jmespath-1.0.1 pandas-2.1.4 s3transfer-0.10.0 scikit-learn-1.4.1.post1 tzdata-2024.1

In [ ]:
#Do not forget to restart runtime
import pandas as pd
from sklearn.model_selection import train_test_split
from autogluon.tabular import TabularDataset, TabularPredictor
df=pd.read_csv('https://raw.githubusercontent.com/ogut77/DataScience/main/data/healthcare-dataset-stroke-data.csv')

In [ ]:
df_train,df_test=train_test_split(df,test_size=0.33,random_state=1)
df_train.shape,df_test.shape

((3423, 12), (1687, 12))

In [ ]:
df.head()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1

In [ ]:
test_data=df_test.drop(['stroke'],axis=1)
test_data.head()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status
4673,49833,Female,42.0,0,0,Yes,Govt_job,Rural,112.98,37.2,formerly smoked
3232,20375,Female,78.0,0,0,Yes,Private,Urban,78.29,30.1,formerly smoked
3694,39834,Male,28.0,0,0,No,Private,Urban,73.27,25.4,smokes
1070,42550,Female,81.0,0,0,Yes,Self-employed,Rural,246.34,21.1,never smoked
4163,19907,Female,52.0,0,0,Yes,Private,Rural,97.05,28.0,Unknown

In [ ]:
predictor= TabularPredictor(label ='stroke').fit(train_data = df_train, verbosity = 2,presets='best_quality')

In [ ]:
predictor.fit_summary()

In [ ]:
predictor.leaderboard(df_train, silent=True)

,model,score_test,score_val,pred_time_test,pred_time_val,fit_time,pred_time_test_marginal,pred_time_val_marginal,fit_time_marginal,stack_level,can_infer,fit_order
0,KNeighborsDist_BAG_L1,1.000000,0.951797,0.107458,0.106272,0.009229,0.107458,0.106272,0.009229,1,True,2
1,RandomForestGini_BAG_L1,1.000000,0.954718,0.225151,0.213691,1.497233,0.225151,0.213691,1.497233,1,True,5
2,RandomForestEntr_BAG_L1,1.000000,0.956763,0.226715,0.222469,1.550710,0.226715,0.222469,1.550710,1,True,6
3,ExtraTreesGini_BAG_L1,1.000000,0.954426,0.391090,0.230753,1.067909,0.391090,0.230753,1.067909,1,True,8
4,ExtraTreesEntr_BAG_L1,1.000000,0.954426,0.516403,0.222393,0.929521,0.516403,0.222393,0.929521,1,True,9
5,NeuralNetFastAI_BAG_L2,0.981011,0.956763,5.027276,2.444542,227.678945,0.728736,0.361437,40.743241,2,True,22
6,ExtraTreesGini_BAG_L2,0.980427,0.956471,4.529225,2.334626,188.072298,0.230685,0.251522,1.136594,2,True,20
7,ExtraTreesEntr_BAG_L2,0.978966,0.956471,4.536129,2.315805,187.969062,0.237589,0.232700,1.033358,2,True,21
8,XGBoost_BAG_L1,0.976044,0.956471,0.213298,0.105364,12.903358,0.213298,0.105364,12.903358,1,True,11
9,RandomForestGini_BAG_L2,0.975460,0.959100,4.524512,2.303417,188.881938,0.225972,0.220312,1.946235,2,True,17
10,RandomForestEntr_BAG_L2,0.971954,0.957932,4.527114,2.298433,189.070503,0.228574,0.215328,2.134800,2,True,18
11,CatBoost_BAG_L2,0.969325,0.961145,4.347020,2.187671,227.952150,0.048480,0.104566,41.016446,2,True,19
12,LightGBMLarge_BAG_L2,0.968741,0.960269,4.720955,2.200240,217.348524,0.422415,0.117136,30.412820,2,True,25
13,LightGBMXT_BAG_L1,0.968449,0.958516,0.288152,0.149144,27.099933,0.288152,0.149144,27.099933,1,True,3
14,WeightedEnsemble_L2,0.968449,0.958516,0.290592,0.155350,29.172410,0.002439,0.006206,2.072476,2,True,14
15,LightGBM_BAG_L2,0.967864,0.959977,4.479492,2.176060,207.008638,0.180952,0.092956,20.072934,2,True,16
16,XGBoost_BAG_L2,0.967280,0.962314,4.550364,2.194432,204.880371,0.251823,0.111327,17.944668,2,True,23
17,WeightedEnsemble_L3,0.967280,0.962314,4.552843,2.203176,206.887264,0.002479,0.008744,2.006893,3,True,26
18,NeuralNetFastAI_BAG_L1,0.959977,0.956763,0.692313,0.240120,42.261217,0.692313,0.240120,42.261217,1,True,10
19,LightGBMXT_BAG_L2,0.958516,0.957639,4.492907,2.162858,204.074275,0.194366,0.079753,17.138571,2,True,15
20,CatBoost_BAG_L1,0.958224,0.956763,0.184243,0.059599,26.975289,0.184243,0.059599,26.975289,1,True,7
21,LightGBM_BAG_L1,0.956471,0.956471,0.184368,0.094188,15.699716,0.184368,0.094188,15.699716,1,True,4
22,LightGBMLarge_BAG_L1,0.956179,0.957347,0.658153,0.084108,20.493341,0.658153,0.084108,20.493341,1,True,13
23,NeuralNetTorch_BAG_L2,0.954426,0.957055,5.166182,2.433157,236.788244,0.867642,0.350052,49.852540,2,True,24
24,KNeighborsUnif_BAG_L1,0.954134,0.953257,0.107175,0.113880,0.020961,0.107175,0.113880,0.020961,1,True,1
25,NeuralNetTorch_BAG_L1,0.953550,0.953550,0.504021,0.241124,36.427284,0.504021,0.241124,36.427284,1,True,12

In [ ]:
predictor.feature_importance(data=df_train)

Computing feature importance via permutation shuffling for 11 features using 3423 rows with 5 shuffle sets...
	208.19s	= Expected runtime (41.64s per shuffle set)
	123.45s	= Actual runtime (Completed 5 of 5 shuffle sets)

                   importance    stddev       p_value  n  p99_high   p99_low
bmi                  0.013146  0.000547  3.576573e-07  5  0.014272  0.012021
age                  0.012095  0.001025  6.121332e-06  5  0.014204  0.009985
ever_married         0.006427  0.001187  1.333433e-04  5  0.008871  0.003984
id                   0.005960  0.000531  7.466389e-06  5  0.007052  0.004867
avg_glucose_level    0.005375  0.000606  1.903390e-05  5  0.006623  0.004128
heart_disease        0.004324  0.000633  5.370394e-05  5  0.005628  0.003020
gender               0.004265  0.000443  1.377219e-05  5  0.005178  0.003353
Residence_type       0.004265  0.000915  2.388130e-04  5  0.006148  0.002382
hypertension         0.003856  0.000381  1.127599e-05  5  0.004641  0.003072
work_type            0.002980  0.000599  1.854630e-04  5  0.004213  0.001747
smoking_status       0.002396  0.000244  1.282678e-05  5  0.002899  0.001892

In [ ]:
y_pred = predictor.predict(test_data)
y_pred=pd.DataFrame(y_pred,columns=['stroke'])
y_pred #print the DataFrame

      stroke
4673       0
3232       0
3694       0
1070       0
4163       0
...      ...
386        0
3961       0
1608       0
1459       0
4058       0

[1687 rows x 1 columns]

In [ ]:
predictor.evaluate(df_test)

Evaluation: accuracy on test data: 0.943094250148192
Evaluations on test data:
{
    "accuracy": 0.943094250148192,
    "balanced_accuracy": 0.5086064148055381,
    "mcc": 0.05039175121196796,
    "roc_auc": 0.820148890280387,
    "f1": 0.039999999999999994,
    "precision": 0.2,
    "recall": 0.022222222222222223
}

{'accuracy': 0.943094250148192,
 'balanced_accuracy': 0.5086064148055381,
 'f1': 0.039999999999999994,
 'mcc': 0.05039175121196796,
 'precision': 0.2,
 'recall': 0.022222222222222223,
 'roc_auc': 0.820148890280387}

Reference:

https://www.analyticsvidhya.com/blog/2021/10/beginners-guide-to-automl-with-an-easy-autogluon-example/