<a href="https://colab.research.google.com/github/ogut77/DataScience/blob/main/Chapter7R.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [31]:

customer <- read_csv('https://raw.githubusercontent.com/ogut77/DataScience/refs/heads/main/PurchaseByCredit20_Continuous.csv')
customer

Rows: 20 Columns: 3
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (1): Purchase
dbl (2): Age, Income

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

   Age Income Purchase
1  25  150    Yes
2  34  220    No
3  27  210    No
4  28  250    Yes
5  21  100    No
6  31  220    No
7  36  300    Yes
8  20  100    No
9  29  220    No
10 32  250    Yes
11 37  400    Yes
12 24  120    No
13 33  350    No
14 30  180    Yes
15 38  350    Yes
16 32  250    No
17 28  240    No
18 22  220    No
19 39  450    Yes
20 26  150    No

In [33]:
install.packages('MASS')
library(MASS)

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)


Attaching package: ‘MASS’


The following object is masked from ‘package:dplyr’:

    select

In [34]:
 ldamodel <- lda(Purchase ~ ., customer)
 ldamodel

In [36]:

 pred <- predict(ldamodel, customer)

Call:
lda(Purchase ~ ., data = customer)

Prior probabilities of groups:
 No Yes
0.6 0.4

Group means:
       Age Income
No  27.250 200.00
Yes 33.125 291.25

Coefficients of linear discriminants:
               LD1
Age    0.173328870
Income 0.001994526

In [37]:
pred$class

 [1] No  Yes No  No  No  No  Yes No  No  No  Yes No  Yes No  Yes No  No  No  Yes
[20] No
Levels: No Yes

In [39]:
classtable <- table(Purchase,pred$class)
classtable

Purchase No Yes
     No  10   2
     Yes  4   4

In [40]:
 sum(diag(classtable)) / sum(classtable)

[1] 0.7

In [41]:
# prompt: write logistic regression in r

customer$Purchase <- ifelse(customer$Purchase == "Yes", 1, 0)


# Train a logistic regression model
logitmodel <- glm(Purchase ~ ., data = customer, family = binomial)
logitmodel

Call:  glm(formula = Purchase ~ ., family = binomial, data = customer)

Coefficients:
(Intercept)          Age       Income
  -7.629959     0.223517     0.001918

Degrees of Freedom: 19 Total (i.e. Null);  17 Residual
Null Deviance:	    26.92
Residual Deviance: 20.68 	AIC: 26.68

Nearest **Neigbor**

In [42]:
install.packages('DMwR2')

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

In [44]:
customer <- read_csv('https://raw.githubusercontent.com/ogut77/DataScience/refs/heads/main/PurchaseByCredit20_Continuous.csv')
attach(customer)

Rows: 20 Columns: 3
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (1): Purchase
dbl (2): Age, Income

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.
The following objects are masked from customer (pos = 7):

    Age, Income, Purchase


The following objects are masked from customer (pos = 8):

    Age, Income, Purchase


The following objects are masked from customer (pos = 9):

    Age, Income, Purchase


The following objects are masked from customer (pos = 10):

    Age, Income, Purchase

In [45]:
Purchase

 [1] "Yes" "No"  "No"  "Yes" "No"  "No"  "Yes" "No"  "No"  "Yes" "Yes" "No"
[13] "No"  "Yes" "Yes" "No"  "No"  "No"  "Yes" "No"

In [46]:
library(DMwR2)
 nn <- kNN(Purchase ~ ., customer, customer, k=5)

ERROR: Error in class::knn(train[, -tgtCol], test[, -tgtCol], train[, tgtCol], : 'train' and 'class' have different lengths

In [47]:
classtable <- table(Purchase, nn)
sum(diag(classtable)) / sum(classtable)

ERROR: Error: object 'nn' not found

**Neural Network**

In [ ]:
 install.packages('nnet')
 library(nnet)
 singleNNdata <- read.csv('singleNN.csv', header=T, as.is=FALSE)
 attach(signleNNdata)

In [ ]:
 singleNNdata

In [ ]:
# create a training data using the 8 data.
train <- singleNNdata[1:8,]
# create a testing data using the same 8 data
test <- singleNNdata[1:8,]
train.nnet <- nnet(y~x1+x2+x3,data=train, size=2, rang=0.1, decay=5e-4, maxit=100)
summary(train.nnet)

In [ ]:
predict(train.nnet,test)
nnetpred <- (predict(train.nnet,test) >= 0.01)
table(nnetpred,y)